:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-color: #af4a4a;
  --accent-light: #d87979;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accent-color: #d86e6e;
    --accent-light: #e99090;
  }
}

html[data-theme="light"] {
  --background: #ffffff;
  --foreground: #171717;
  --accent-color: #af4a4a;
  --accent-light: #d87979;
}

html[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent-color: #d86e6e;
  --accent-light: #e99090;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-bottom: 1%;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-top: 0;
}

pre, code {
  font-family: var(--font-geist-mono), monospace;
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme="light"]) {
    color-scheme: dark;
  }
}

html[data-theme="dark"] {
  color-scheme: dark;
}